Package: libnet-lite-ftp-perl
Version: 0.03-1
Section: perl
Priority: optional
Architecture: all
Depends: perl (>= 5.6.0-16)
Installed-Size: 48
Maintainer: Debian User <eyck@debian>
Description: Perl extension for booga wooga doo
 Stub documentation for Net::Lite::FTP, created by h2xs. It looks like the
 author of the extension was negligent enough to leave the stub
 unedited.
 Sam jestes negligent!
 .
 Booga wooga doo.
 .
 This description was automagically extracted from the module by dh-make-perl.
