Source: libnet-lite-ftp-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2)
Build-Depends-Indep: perl (>= 5.8.0-7)
Maintainer: Debian User <eyck@debian>
Standards-Version: 3.6.1

Package: libnet-lite-ftp-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, 
Description:  Perl extension for booga wooga doo
 Stub documentation for Net::Lite::FTP, created by h2xs. It looks like the
 author of the extension was negligent enough to leave the stub
 unedited.
 Sam jestes negligent!
 .
 Booga wooga doo.
 .
 This description was automagically extracted from the module by dh-make-perl.
